// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

body, span, button, li, h1, h3, h4, h5, h6, p, ion-item, ion-title {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-shadow: -1.5px 0 rgba(49, 49, 49, 1), 0 1.5px rgba(49, 49, 49, 1),
  1px 0 rgba(49, 49, 49, 1), 0 -1.5px rgba(49, 49, 49, 1);
}

ion-slide {
  background-color: rgba(200, 221, 226, 1);
}

.toolbar {
  box-shadow: 2px 2px 2px 2px rgba(35, 35, 35, 0.5);

  .toolbar-title {
    font-family: 'Lobster', cursive;
    font-size: 2.1rem;
  }
}

.card-md {
  background-color: rgba(200, 221, 226, 1);
  color: rgba(49, 49, 49, 1);
  box-shadow: 3px 3px 3px 3px rgba(35, 35, 35, 0.5);

  p {
    font-size: 1.5rem;
  }

  .card-title-md {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

}

