// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

body, span, button, li, h1, h3, h4, h5, h6, p, ion-item, ion-title {
  font-family: 'Raleway', sans-serif;
}

.toolbar {
  box-shadow: 2px 2px 2px 2px rgba(35, 35, 35, 0.5);

  .toolbar-title {
    font-family: 'Lobster', cursive;
    font-size: 2.1rem;
  }
}

ion-item {

  h2 {
    font-family: 'Raleway', sans-serif;
  }
}

.label-ios,
.label-md {
  margin: 2px 8px 2px 0;
}

.item {
  margin-top: 0.4rem;
}

.md ion-list > .item:last-child,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

.md ion-list > .item:first-child,
.md ion-list > .item-wrapper:first-child .item,
.wp ion-list > .item:first-child,
.wp ion-list > .item-wrapper:first-child .item,
.ios ion-list > .item:first-child,
.ios ion-list > .item-wrapper:first-child .item {
  border-top: none;
}

.cv-card {
  margin-top: 13px;
  margin-bottom: 13px;

  .item-inner {
    border-bottom: none !important;
  }
}
