cv-item-detail {

  p {
    background-color: rgba(202, 202, 202, 0.85);
    box-shadow: 2px 2px 2px 2px rgba(35, 35, 35, 0.6);
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: rgba(49, 49, 49, 1);
    font-size: 1.5rem;
    font-weight: bold;
  }

  ion-content {
    background-image: linear-gradient(transparent, rgba(49, 49, 49, 0.9), rgba(49, 49, 49, 1)),
      url("http://188.166.164.8/assets/images/background.jpg");
    background-size: cover;
  }



}
